html
{
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body
{
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

.wrapper
{
     display: flex;
     flex-direction: column;
     height: 90%;
}

#Graph
{
    flex: 1;
    border: 1px solid lightgray;
}

.hidden
{
  display: none;
}

#hiddenTree
{
  display: none;
}

.navPanel
{
  background-color: lightgray;
}

.navItem
{
  float: left;
  margin: 2px;
  cursor: pointer;
  padding: 5px;
}

.navItem:hover
{
  background-color: #CEFF96;
}