html
{
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body
{
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

.wrapper
{
     display: flex;
     flex-direction: column;
     height: 90%;
}

#Graph
{
    flex: 1;
    border: 1px solid lightgray;
}

.hidden
{
  display: none;
}

#hiddenTree
{
  display: none;
}

.navPanel
{
  background-color: lightgray;
}

.navItem
{
  float: left;
  margin: 2px;
  cursor: pointer;
  padding: 5px;
}

.navItem:hover
{
  background-color: #CEFF96;
}

.dTitle
{

}

.dItemRef
{
  text-align: left;
  cursor: pointer;
  background-color: lightblue;
  padding: 10px;
}

.dItemRef:hover
{
  font-weight: bold;
}

.dItemEnd
{
  text-align: left;
  cursor: default;
  background-color: orange;
  padding: 10px;
}

.dignosticMain
{
  text-align: center;
  background-color: lightgoldenrodyellow;
  padding: 10px;
}

.dDescr
{
  text-align: left;
}